@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Jost:wght@700&display=swap");
:root {
  --main-bg-color: #002333 !important;
  --lightgreen-bg-color: #00ff84 !important;
}
body {
  font-family: "Barlow", sans-serif !important;
  background-color: #f4f4f4 !important;
}
a {
  color: #5f6368;
}
a:hover {
  color: #5f6368;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: "Jost", sans-serif;
}
.btn-green {
  font-weight: 500 !important;
  background-color: #00ff84 !important;
  border-color: #00ff84 !important;
}
.btn-green:hover {
  color: #ccc;
}
.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #002333;
}

.svg-icon circle {
  stroke: #002333;
  stroke-width: 1;
}
.self_center {
  align-self: center;
}
